[include shell_command.cfg]
[include KAMP_Settings.cfg]
#####################################
#              PRINTER              #
#####################################

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 6000
#max_accel_to_decel:5000 #deprecated
max_z_velocity: 25
max_z_accel: 100
square_corner_velocity: 5.0

[input_shaper]
#Fitted shaper 'ei' frequency = 80.2 Hz (vibrations = 12.5%, smoothing ~= 0.050)
#To avoid too much smoothing with 'ei', suggested max_accel <= 12000 mm/sec^2
shaper_freq_x: 80.2
shaper_freq_y: 37.8
shaper_type_x: ei
shaper_type_y: ei

[bed_screws]
#need calibration
screw1: 26,28
screw2: 177,28
screw3: 177,178
screw4: 26,178

[skew_correction]

[mcu]
serial: /dev/serial/by-path/platform-5101400.usb-usb-0:1:1.0-port0
#serial: /dev/serial/by-path/platform-5311400.usb-usb-0:1:1.0-port0
baud: 250000
restart_method: command

[temperature_sensor raspberry]
sensor_type: temperature_host

[temperature_sensor MCU]
sensor_type: temperature_mcu

[static_digital_output display_reset]
pins: !PC6, !PD13

[virtual_sdcard]
path: /home/pi/kp3spros1_data/gcodes

[gcode_arcs]
resolution: 0.05

[display_status]

[pause_resume]

# Cancel object (aka Marlin/RRF M486 commands) support
#
# Enable object exclusion
[exclude_object]

[respond]

[screws_tilt_adjust]
screw1: 54.5, 187.50
screw1_name: rear left screw
screw2: 54.5, 39.5
screw2_name: front left screw
screw3: 201.1, 39.5
screw3_name: front right screw
screw4: 201.1, 187.50
screw4_name: rear right screw 
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4 #measure the diameter of your adjustment screw


#####################################
#        Heater Verification        #
#####################################

[verify_heater heater_bed]
max_error: 120
check_gain_time: 60
hysteresis: 5
heating_gain: 2

[verify_heater extruder]
max_error: 120
check_gain_time: 30
hysteresis: 5
heating_gain: 2


#####################################
#              BEEPER               #
#####################################

#[output_pin BEEPER_pin]
#pin: PC5
#   Beeper pin. This parameter must be provided.
#   ar37 is the default RAMPS/MKS pin.
#pwm: True
#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
#value: 0
#   Silent at power on, set to 1 if active low.
#shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
#cycle_time: 0.001
#   Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz
#   Although not pitch perfect.


#####################################
#           Filament Sensor         #
#####################################

[filament_switch_sensor FilamentSensor]
pause_on_runout: True
runout_gcode:
    M118 ;Starting filament change
    M600
insert_gcode:
switch_pin: PA4
event_delay: 5.0


#####################################
#              STEPPER              #
#####################################

[include stepper.cfg]


#####################################
#              BLtouch              #
#####################################

#[include bltouch.cfg]

#####################################
#              BTT EDDY             #
#####################################

#[include btteddy.cfg]
[include btteddy-ng.cfg]

[homing_override]
axes: z
gcode:
    M117  HOMING O...
    G28 X Y
    G90                        ; set absolute positioning
    G1 X125.5 Y121.5 F6000       ; center eddy sensor
    G28 Z                      ; do the coarse home
    G0 Z2 F1000                ; to 2mm -- home height (or whatever you'd like), for maximum sensor accuracy
    G4 S1                      ; chill for a sec
    M400                       ; wait for move to finish
    PROBE_EDDY_NG_PROBE_STATIC HOME_Z=1 ; read the current exact height from sensor and home Z to it
    G0 Z20 F1000 ; to 20mm as home

#[safe_z_home] # enable for BTT EDDY
## 110,110 - (x_offset,y_offset)
#home_xy_position: 125.5,121.5
#speed: 100
#z_hop: 25
#z_hop_speed: 15

[bed_mesh]
horizontal_move_z: 2
speed: 100
mesh_pps: 2,2
# For the mesh dimensions below, the coordinates need to be reachable by the center of the probe. To calculate coordinates that will work, use the formula below:
# mesh x min = position_min_x + greater_of (15mm or x_offset) <--- in this term, only consider the x offset if it is positive, ignore if negative.
# mesh y min = position_min_y + greater_of (15mm or y_offset) <--- in this term, only consider the y offset if it is positive, ignore if negative.
# mesh x max = position_max_x - greater_of (15mm or |x_offset|) <--- in this term, only consider the x offset if it is negative, ignore if positive.
# mesh y max = position_max_y - greater_of (15mm or |y_offset|) <--- in this term, only consider the y offset if it is negative, ignore if positive.
# Example: Consider that you have a 300 x 300 bed with the max x and y positions being 300 and the min being 0. Your probe offsets are -20 for X and 10 for Y
# For mesh x min we ignore the x offset term because it is negative. Therefore mesh x min = 15
# For mesh y min we do not ignore the y offset term because it is positive but it is less than 15 so we use 15. Therefore mesh y min = 15
# For mesh x max we do not ignore the x offset term because it is negative. It is also greater than 15. Therefore mesh x max = 280
# For mesh y max we ignore the y offset term because it is positive but it is less than 15 so we use 15. Therefore mesh y max = 285
# The final result would be mesh_min: 15, 15 mesh_max: 280, 285

# 0,0 - (x_offset, y_offset)  and (205,203) + x_offset, y_offset
mesh_min: 17,27
mesh_max: 185,185
probe_count: 6, 6
algorithm: bicubic


#####################################
#               TMC                 #
#####################################

[include tmc.cfg]


#####################################
#            THERMISTOR             #
#####################################

[include thermistor.cfg]


#####################################
#             EXTRUDER              #
#####################################

[include extruder.cfg]


#####################################
#               BED                 #
#####################################

[include bed.cfg]


#####################################
#               FAN                 #
#####################################

[include fan.cfg]

#####################################
#               ACCEL               #
#####################################

#[include mpu.cfg]

#####################################
#              MACROS               #
#####################################

[include macros.cfg]
[include macros_config_test_speed.cfg]
[include shell-macros.cfg]
[include maintenance.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.600
#*# pid_ki = 9.397
#*# pid_kd = 23.310
#*#
#*# [heater_bed]
#*# pid_kp = 72.760
#*# pid_ki = 1.382
#*# pid_kd = 957.699
#*#
#*# [skew_correction CaliflowerOverture]
#*# xy_skew = -0.0016025685048645275
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 16, 17
#*# calibration_version = 5
#*# reg_drive_current = 16
#*# tap_drive_current = 17
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUCObEDZ5Tvg/Iy0CrHN3/T9AdtmADuPnP0cdWIIHkNg/cwEep48lrD/XCJE5iybRP5f6H7ajM9I/DJPk9zXYzr9Eow/m4tCsv9UdaSTY0cc/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQrxKabzLXlD7GZ6kTkiaVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQZiCVy8njGkBSYVllKV8KQJWbv7zSQPs/eTyp+c3c8j+L5QLOo2roPxEfxR5KQoo/6TfCqYRDoT9DTgB1mB7oP5QH+9TPrOY/iqS4ZoSNyD+UdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEK4tuhKqI5U+6YS9g5I3lT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1AVjt1e4RCVPpZS408y9CA+mVQ7CSv1EL60DDhb2UL6PXU4wRt/Deu9aIqzbbt4wz182WfUzn3qPU9VoyhCwN295ZT4u0aaz71lfM7k40m+PZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQrrCpGQkfvT8AnhIcZvcTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/vR8JGamwrkdALf+9Zr+E5GWMB2ZfcmFuZ2WUXZQoR0FIIaoif5gAR0FIkUIelOgAZYwCZGOUSxB1Lg==
#*# calibration_17 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUJMn3Px0cPU/sh5bmpoa/T8u73GmbPDoP+X9WrjXvtU/yupbmZOmxz+GJIWp72LgP0re/zsZGtA/ZLS5bglH3b9LuI6+MB+wv09spAuEDtI/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQ1sZY+/vjlD6eKz0ilESVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQu6oLYH/eGkAnCmn16+sJQP294wnoMgBA0bnS7JA/AED0LOSfrz7tvwBYbWc4bA/AdFAKi6iXBUCPgpSOe5IbQBGoXrvA+eK/W3iKtzquBsCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEFf6G+WEQZU+mfrBiYNWlT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1D2OhlxMyyVPgv2b8etgCM+vlkfNVaGFr4dJTgrUR8HPsa/kR+0OOE9LsufCI7yBb62q/RVxnIEvigHj6AvFBU+QgEc8mqI+j1qUH3qpMQIvpR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAGBQ2iDc6z6ALPgOmv8TQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc+69wg2lBgAEdALf//s0vLj2WMB2ZfcmFuZ2WUXZQoR0FH/qwX1NgAR0FIgjhpc1AAZYwCZGOUSxF1Lg==
#*# tap_adjust_z = -0.02
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.000000, -0.073473, -0.071884, -0.063171, -0.010820, 0.104463
#*# 	  0.036575, -0.034853, -0.020888, 0.004534, 0.071872, 0.201922
#*# 	  0.035791, -0.027086, -0.027895, 0.015283, 0.097825, 0.252392
#*# 	  0.081542, 0.008450, 0.008450, 0.045978, 0.130005, 0.287610
#*# 	  0.176739, 0.083737, 0.059945, 0.087103, 0.151012, 0.253803
#*# 	  0.284571, 0.172858, 0.137295, 0.140184, 0.190649, 0.267506
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 17.0
#*# max_x = 185.0
#*# min_y = 27.0
#*# max_y = 185.0
